@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto+Mono|Russo+One&display=swap');

html{
    margin: 0;
    padding: 0;
}

/* Modifica tamaño h1  */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
}

body{
    background-color: black;
    height: auto;
}

.bg{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

.logo{
    width: 20%;
    height: 20%;
    margin-top: 180px;
}

@media screen and (max-width: 1000px) {
  .logo {
    margin-top: 200px;
    width: 40%;
    height: auto;
  }
}

.titulo{
    margin-top: 100px;
    margin-left: 100px;
}

.navbar{
    background-color: rgb(255,41,104);
    box-shadow: 0px 0px 10px #000;
}

.nav-item{
    padding-right: 10px;
    padding-left: 10px;
}

.nav-item:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px black;
    transition:0.2s;
    cursor: pointer;
}

.nav-item:hover .nav-link-text{
    color: #FF2968;
    transition:0.2s;
}

.nav-item:hover .icon{
    color: #FF2968;
    transition:0.2s;
}

.nav-link-text{
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    font-family: 'Russo one', monospace;
    text-decoration: none;
}

.custom-container{
    top: 5vh;
    background: #FFFFFF;
    color: rgba(255,41,104,.8);
    padding: 30px;
    min-height: 15%;
    max-height: 15%;
    font-size: 20px;
}

.custom-container p{
    color: #000;
}

.custom-container h2{
    font-size: 35px;
}

.nigger-white{
    background-color: #efefef;
}

.nigger-nigger-white{
    background-color: #e5e5e5;
}

.icon{
    color: #FFFFFF;
}

h1{
    background-color: rgba(255,41,104,1);
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Russo one', monospace;
    box-shadow: 0px 0px 5px 0px #000;
    padding: 10px;
}

h1:hover{
    background-color: #FFFFFF;
    color: black;
    transition: 1s;
}

.scroll-button{
    margin-top:70px;
    margin-bottom: 65px;
}

.scroll-button a{
    color: #FF2968;
}

.scroll-button a:hover{
    color: #002D8B;
    transition: 0.5s;
}

.carousel-inner {
	max-height: 100vh;
}

.comunity-img{
        width: 100%;
        height: 90%;
}

.staff-head{
    background-color: #FF2968;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0px 0px 5px #000;
    margin-top:15px;
}

.staff-content{
    background-color: #1f2226;
}

.staff-username{
    color: orange;
    font-size: 15px;
    margin-top: 5px;
}

.staff-role{
    color: white;
    font-size: 10px;
}

.discord-link{
    text-decoration: none;
    color: #FF2968;
}

.discord-link:hover{
    text-decoration: none;
    color: #FFFFFF;
}

.text-pink{
    color: #FF2968;
}

.text-pink-link{
    color: #FF2968;
}
.text-pink-link:hover{
    color: #FF2968;
    font-size: 18px;
}

.page-footer{
    background-color: #FF2968;
}

.action{
    background-color:#FF2968;
    box-shadow: 0px 0px 5px #000;
}

.action:hover{
    background-color: white;
    color: #FF2968;
    box-shadow: 0px 0px 5px #000;
    cursor: pointer;
}

.s-container{
    background-color: #FFF;
    height: 70%;
    width: 90%;
    margin: 0 auto;
}

#store-h1:hover{
    background-color: #FF2968;
    cursor: default;
    color: #FFFFFF;
    font-family: 'Russo one', monospace;
    box-shadow: 0px 0px 5px 0px #000;
    padding: 10px;
}


/* Pricing CSS */

section.pricing {
  /* background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF); */
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

/* Progress Bar */
.progress {
  position:relative;
  height:70px;
}
.raised {
  position:absolute;
  left:10px;
  top:9px;
}
.goal {
  position:absolute;
  right:10px;
  top:9px;
}